@font-face {
    font-family: "figtree";
    src: url(./assets/Figtree/Figtree-VariableFont_wght.ttf);
}

*{
    font-family: "figtree";
}

canvas{
    max-width: 810px;
}

/* AUXILIARES */

.itemOption{
    display: flex;
    margin: 10px 0px;
    flex-direction: row;
}
.blocker{
    z-index: 999;
    display: block;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.hide{
    display: none !important;
}